################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/suixinbo/sample/suixinbo_Qt/GeneratedFiles
/suixinbo/sample/suixinbo_Qt/Debug
/suixinbo/sample/bin
/suixinbo/sample/ipch/SUIXINBO_QT-b5253feb
/suixinbo/sample/suixinbo.VC.db
/suixinbo/sample/suixinbo.VC.VC.opendb
